/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 244, 236);
    font-size: 20px;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color:rgb(107, 162, 146);
    background-color: rgb(25, 24, 49);
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
            box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
}

area.on {
    cursor: crosshair;
    display:block;
}
.locations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.locations.onuse {
    background-color: white;
    opacity: .5;   
}
.locations.marked {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}

.position {
    display: none;
    position: absolute;
}

.position.show {
    display: block;
}

.cursors {
    display: none;
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    pointer-events: none;
}

.cursors.show {
    display: block;
}


.btn {
    background-color: rgb(107, 162, 146);
    border: none;
    color: rgb(255, 244, 236);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(46, 70, 63);
}

.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.watermark {
    display: none;
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.7);
}

.watermark.show {
    display: initial;
}